services:
  nlp_service:
    image: mohamad121/jobassistantsystem-nlp_service:latest
    build: ./NLP_service
    ports:
      - "8000:8000"
    environment:
      OPENROUTER_MODEL: "xiaomi/mimo-v2-flash:free"
      OPENROUTER_API_KEY: "${OPENROUTER_API_KEY}"
  backend:
    image: mohamad121/jobassistantsystem-backend:latest
    build: ./Backend/API
    ports:
      - "5000:5000"
    depends_on:
      - nlp_service
      - embedding_service
      - matching_service
    environment:
      NLP_SERVICE_BASEURL: "http://nlp_service:8000"
      NLP_EMBEDDING_ORCHESTRATOR_BASEURL: "http://nlp_embedding_service:5003"
      MATCHING_SERVICE_BASE_URL: "http://matching_service:5002"
      ASPNETCORE_URLS: http://0.0.0.0:5000
      ConnectionStrings__DefaultConnection: "${JobAssistantDbConnectionString}"

  embedding_service:
    image: mohamad121/jobassistantsystem-embedding_service:latest
    build: ./Embedding_service
    ports:
      - "5001:5001"

  matching_service:
    image: mohamad121/jobassistantsystem-matching_service:latest
    build: ./Matching&Ranking_service
    ports:
      - "5002:5002"

  nlp_embedding_service:
    image: mohamad121/jobassistantsystem-nlp_embedding_service:latest
    build: ./NLP&Embedding_Orchestrator
    ports:
      - "5003:5003"
    depends_on:
      - nlp_service
      - embedding_service
    environment:
      NLP_SERVICE_URL: "http://nlp_service:8000/llm/ask"
      EMBEDDING_SERVICE_URL: "http://embedding_service:5001/embed/jobs"

  frontend:
    image: mohamad121/jobassistantsystem-frontend:latest
    build: ./Frontend
    ports:
      - "5004:5173"
    depends_on:
      - backend
    environment:
      VITE_BACKEND_API_BASE_URL: "http://localhost:5000"
      #because its ran in the browser, it should use localhost to access the backend
