version: "3.9"

services:
  nlp_service:
    build: ./NLP_service
    ports:
      - "8000:8000"
    environment:
      OPENROUTER_MODEL: "xiaomi/mimo-v2-flash:free"
    env_file:
      - ./.env
  backend:
    build: ./Backend/API
    ports:
      - "5000:5000"
    depends_on:
      - nlp_service
      - embedding_service
      - matching_service
    environment:
      NLP_SERVICE_BASEURL: "http://nlp_service:8000"
      NLP_EMBEDDING_ORCHESTRATOR_BASEURL: "http://embedding_service:5001"
      MATCHING_SERVICE_BASE_URL: "http://matching_service:5002"
      ASPNETCORE_URLS: http://0.0.0.0:5000
    env_file:
      - ./.env

  embedding_service:
    build: ./Embedding_service
    ports:
      - "5001:5001"

  matching_service:
    build: ./Matching&Ranking_service
    ports:
      - "5002:5002"

  nlp_embedding_service:
    build: ./NLP&Embedding_Orchestrator
    ports:
      - "5003:5003"
    depends_on:
      - nlp_service
      - embedding_service
    environment:
      NLP_SERVICE_URL: "http://nlp_service:8000/llm/ask"
      EMBEDDING_SERVICE_URL: "http://embedding_service:5001/embed/jobs"
